*{
  user-select: none;
}

body{
  max-width: 1400px;
  margin: auto;
}
/* الصفحة */
.products-page {
  padding: 60px;
  background: #f8f8f8;
}

/* عنوان الصفحة */
.products-container h1 {
  text-align:center;
  margin-bottom: 40px;
}

/* عنوان كل قسم */
.products-address{
  text-align: center;
  color: #fff;
  background-color:black;
  padding: 10px;
  margin: 30px 0;
  border-radius: 10px;
  scroll-margin-top: 100px;

}

/* الشبكة */
.products-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:20px;
}

/* الكارد */
.product-card {
  background: white;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-card:hover {
  transform: translateY(-8px) scale(1.02);
}

/* الصورة */
.product-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

/* الاسم */
.product-card h3 {
  padding: 10px;
}

/* السعر */
.price{
  font-size: 22px;
  font-weight: bold;
}

/* زر الشراء */
.By-now {
  margin-top: 12px;
  padding: 10px 18px;
  color: #fff;
  background-color: red;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.By-now:hover{
  background-color:#fa4747;
}
.details-btn {
  margin-top: 10px;
  padding: 10px 18px;
  color: #fff;
  background-color: #111;
  border: 1px solid #333;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.details-btn:hover {
  background-color: #1f1f1f;
}

/* صفحة التفاصيل */
.product-details {
  padding: 60px;
  text-align: center;
  animation: slideUp 0.4s ease;
}

.product-details img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-details button {
  margin-top: 20px;
  padding: 12px 25px;
  background: red;
  border: none;
  color: white;
  cursor: pointer;
}

.product-details button:hover {
  background:#fa4747;
}

/* حركة دخول صفحة المنتج */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*  الحركة عند الإضافة للسلة */
.product-card.added {
  animation: flyUp 0.6s ease;
}

@keyframes flyUp {
  0% { transform: translateY(0); }
  50% { transform: translateY(-25px); }
  100% { transform: translateY(0); }
}
@media (max-width: 1024px){

  .products-grid{
  grid-template-columns:repeat(2,1fr);
  }
  
  }
  
  @media (max-width: 600px){
  
  .products-grid{
  grid-template-columns:1fr;
  }
  
  .products-container h1{
  font-size:26px;
  }
  
  .products-address{
  font-size:20px;
  }
  
  .product-card img{
  height:220px;
  object-fit:cover;
  }
  
  }
  @media (max-width:600px){

    .By-now{
    width:100%;
    padding:12px;
    font-size:16px;
    }
    
    .details-btn{
    width:100%;
    margin-top:5px;
    }
    
    }

